export default class $CLS extends FluxionBehaviour {
  // Public fields appear as editable properties in the Inspector
  // speed = 5.0;

  start() {
    this.log('$CLS started');
  }

  update(dt: number) {
    // Called every frame — dt is delta time in seconds
  }

  onDestroy() {}
}
