-- $CLS
-- Basic script: start, update, onDestroy

function start()
    self.log("$CLS started")
end

function update(dt)
    -- Called every frame. dt = delta time in seconds.
end

function onDestroy()
end
