export default class $CLS extends FluxionBehaviour {
  /** Drag a .fui asset here in the Inspector */
  fuiFile = new FuiRef();

  score = 0;
  health = 100;

  start() {
    this.ui.load(this.fuiFile.path);

    this.ui.onButtonClick('restart_btn', () => {
      this.score = 0;
      this.health = 100;
      this.updateHUD();
    });
  }

  update(dt: number) {
    this.score += dt * 10;
    this.updateHUD();
  }

  private updateHUD() {
    this.ui.setText('score_label', 'Score: ' + Math.floor(this.score));
    this.ui.setText('health_label', 'HP: ' + this.health);
  }
}
